* {
  font-family: "Cascadia Code", sans-serif;
  color: #cdd6f4;
}

.App {
  min-height: 100vh;
  background: #11111b;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 8px;
  background: #1e1e2e;
}

.search-btn {
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background: #1e1e2e;
  cursor: pointer;
  transition: all 0.5s;
}

.search-btn:hover {
  background: #cdd6f4;
  color: #1e1e2e;
  transition: 0.5s;
}

.search-btn:active {
  box-shadow: 0 5px #181825;
  transform: scale(110%);
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
